.container {
   max-width: 600px !important;
    padding: 100px;
    background: grey;
    margin-top: 150px;
    height: 300px;
    color: white;
    font-size: 30px !important;
    margin-left: 300px !important;
    border-style: solid;
    border-color: white;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 27%;
    left: 17%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.container.admin {
	border-style:solid;
	border-color:black;
}